.Form {
    margin-top: 50px;
}

.Form > input {
    display: block;
    width: 50%;
    margin: 15px auto;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 6px 10px;
}